<!DOCTYPE html>

<html>

	<head>
		<title>Welcome to my homepage!</title>
	</head>

	<body>
		<h3>Welcome to my business page!</h3>
		<p>This is where I will explain my business and how it could benefit you in the long run!</p>









	</body>

</html>